<% if current_user != nil %>
      <div class="buttons">
        <%= link_to "New Post", new_post_path if current_user.is_admin %>
        <%= link_to "Log Out", controller: "sessions", action: "destroy" %>
    </div>
<% end %>



<% @posts.each do |post| %>
	<div class="post_wrapper">
			<!-- Adds photo -->
		<div id="photo" >
			<%= image_tag post.photo.url  %>
		</div>
	<h2 class="title"><%= link_to post.title, post%></h2>
	<p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
	</div>
<% end %>

