<div id="post_content">
	<!-- this adds the post title -->
	<h1 class="title">
		<%= @post.title %>
	</h1>


	<!-- Adds the body content -->
	<p class="body">
	<%= @post.body %>
	</p>

	<!-- This shows time the post was created at -->
	<p class="date">
		Submitted <%= time_ago_in_words(@post.created_at)%> Ago
	<!-- this lets you edit the post -->
		|	<%= link_to 'Edit', edit_post_path(@post) %>
	<!-- this lets you delete the post -->
		| <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'} %>
	</p>

	<!-- this shows the comments -->
	<div id="comments">
    <h2><%= @post.comments.count %> Comments</h2>
    <%= @post.comments.each do |c| %>
    <%= c.body %>
    <% end %>
 
    <h1>Add a comment:</h1>
    <%= render "comments/form" %>
  </div>



	
</div>