<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Quicksand' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <div id="navbar">
      <!-- creates a dynamic link_to Blog homepage -->
      <%= link_to "HOME", root_path %>
      <!-- creates a dynamic link_to about.html.erb -->
      <%= link_to "ABOUT", about_path %>
  </div>

  <div id="logo">
    <%= link_to root_path do %>
      <%= image_tag "leloup_logo.png" %>
    <% end %>
  </div>
</head>

<body>
<!-- this is adding sidebar -->


<!-- this add my social media links -->

	<div class="sidebar">
    <a href="https://instagram.com/moniquewolf"><%= image_tag "Insta_Icon.png" %></a>
    <a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile"><%= image_tag "LinkedIn_Icon.png" %></a>
    <a href="https://github.com/moniquewolf"><%= image_tag "Github_Icon.png" %></a>
    <a href="https://www.facebook.com/monique.wolf.14"><%= image_tag "FB_Icon.png" %></a>
    <a href="mailto:monique.n.wolf@gmail.com"><%= image_tag "Email_Icon.png" %></a>
  </div>

<!-- this adds my admin login buttons -->

		<!-- <p class="sign_in">Admin Login</p> -->
 	</div>
 
	<div id="main_content">
   	<div id="header">
    <% if current_page?(root_path) %>
    <p>All Posts</p>
  <% elsif current_page?(about_path) %>
    <p>About</p>
  <% else %>
    <%= link_to "Back to All Posts", root_path %>
  <% end %>

 
 
  	<% flash.each do |name, msg| %>
  		<%= content_tag(:div, msg, class: "alert") %>
  	<% end %>

	   <%= yield %>
	</div>

</body>
</html>