<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Quicksand:300,400' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Montserrat:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <div class="navbar">
      <!-- this opens up the modal window on click -->
      <a id="modal" href="#dialog" class="modalLink">SIGNUP</a>
      <!-- creates a dynamic link_to Blog homepage -->
      <%= link_to "HOME", root_path %>
      <!-- creates a dynamic link_to about.html.erb -->
      <%= link_to "ABOUT", about_path %>
      <!-- creates a dynamic link_to contact.html.erb -->
      <a class="contact" href="mailto:monique.n.wolf@gmail.com">CONTACT</a>
        <div class="search">
          <%= link_to "SEARCH", root_path %>
        </div>
    </div>

    <div class="logo">
      <%= link_to root_path do %>
      <%= image_tag "veda_logo.png" %>
      <% end %>
    </div>


 <%= yield %> 


  	<div class="main_content">
      <div class="two-thirds">
        <!-- <div class="post_wrapper"> -->
          <% if current_page?(root_path) %>
          <% elsif current_page?(about_path) %>
            <!-- <p>About</p> -->
          <% else %>
            <%= link_to "Back to All Posts", root_path %>
          <% end %>
        </div> <!-- this closes two-thirds -->
      </div>
      <!-- this is adding sidebar -->
      <!-- <div class="column_third"> -->
        <div class="row clearfix">
          <div class="sidebar_third">
            <h3>SUBSTITUTIONS</h3>
            <hr>
            <h3>RECIPES</h3>
            <hr>
            <h4>VEDA, an ayurveda- based food blog
              <br> 
              provides ingredient substitutions to
              <br>
              keep you in balance.
            </h4>
            <hr>
            <!-- this add my social media links -->
            <a class="icons" href="https://www.facebook.com/monique.wolf.14"><%= image_tag("FB_Icon.png", class: "smedia")  %></a>
            <a class="icons" href="https://instagram.com/moniquewolf"><%= image_tag("Insta_Icon.png", class: "smedia") %></a>
            <a class="icons" href="mailto:monique.n.wolf@gmail.com"><%= image_tag("Email_Icon.png", class: "smedia") %></a>
          </div> <!-- this closes sidebar -->
        <!-- </div> --> <!-- this closes clearfix -->
      <!-- </div> --> <!-- this closes column third -->
    </div> <!-- this closes main content -->

  </div> <!-- this closes container -->


 

    

    
  <!-- // modal overlay -->
  <div id="overlay" class=""></div>
  <!-- // modal -->
  <div class="modal hidden" id="about-modal">
    <div id="close-about">x</div>
    <div class="modal-title">signup with veda</div>
    <br>
    <div class="modal-body">
      <div id="join">join our mailing list to receive new recipes delivered to your inbox</div>
    <!-- this is my modal window form -->
      <div id="modal" class="hidden"> 
        <br> 
        <%= form_for InfoEmail.new do |f|  %>
        <%= f.text_field :email, placeholder: " email address" %>
        <%= f.submit "submit" %>
        <% end %> 
        <br>
        <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
        <% end %>
        <br>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</body>
</html>