<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Quicksand' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- this is adding our sidebar and logo -->
<div id="sidebar">
	<div id="logo">
		<%= link_to root_path do %>
			<%= image_tag "leloup_logo.png" %>
		<% end %>
	</div>

	<ul> 
		<li class="category">le loup</li>
    <!-- creates a dynamic link_to -->
		<li><%= link_to "Blog", root_path %></li>
    <!-- creates a dynamic link_to about.html.erb -->
		<li><%= link_to "About", about_path %></li>
	</ul>

<!-- this add my social media links -->
	<ul>
       <li class="category">social</li>
       <li><a href="http://instagram.com/moniquewolf">Instagram</a></li>
       <li><a href="https://github.com/moniquewolf">Github</a></li>
       <li><a href="mailto:monique.n.wolf@gmail.com">Email</a></li>
   </ul>

<!-- this adds my admin login buttons -->

		<p class="sign_in">Admin Login</p>
 	</div>
 
	<div id="main_content">
   	<div id="header">
    <% if current_page?(root_path) %>
    <p>All Posts</p>
  <% elsif current_page?(about_path) %>
    <p>About</p>
  <% else %>
    <%= link_to "Back to All Posts", root_path %>
  <% end %>

 
 
  	<% flash.each do |name, msg| %>
  		<%= content_tag(:div, msg, class: "alert") %>
  	<% end %>

	   <%= yield %>
	</div>

</body>
</html>