<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- this is adding our sidebar and logo -->
<div id="sidebar">
	<div id="logo">
		<%= link_to root_path do %>
			<%= image_tag "leloup_logo.png" %>
		<% end %>
	</div>

	<ul> 
		<li class="category">Website</li>
		<li><%= link_to "Blog", root_path %></li>
		<li>About</li>
	</ul>

	<ul>
       <li class="category">Social</li>
       <li><a href="http://instagram.com/moniquewolf">Instagram</a></li>
       <li><a href="https://github.com/moniquewolf">Github</a></li>
       <li><a href="mailto:monique.n.wolf@gmail.com">Email</a></li>
   </ul>

<p class="sign_in">Admin Login</p>
    </div>
 
    <%= yield %>
 
  </body>
</html>